[submodule "0x11-printf"]
	path = 0x11-printf
	url = https://github.com/wendymunyasi/printf.git
[submodule "0X16-simple_shell"]
	path = 0X16-simple_shell
	url = https://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@github.com/Kennie-Simz/simple_shell.git
[submodule "0x16-simple_shell"]
	path = 0x16-simple_shell
	url = https://github.com/Kennie-Simz/simple_shell.git
[submodule "0x19-monty-stacks_queues_LIFO_FIFO"]
	path = 0x19-monty-stacks_queues_LIFO_FIFO
	url = https://github.com/wendymunyasi/monty.git
[submodule "0x1B-Sorting_algorithms_"]
	path = 0x1B-Sorting_algorithms_
	url = https://github.com/martinmulwa/sorting_algorithms.git
[submodule "0x1B-Sorting_algorithms_Big_O"]
	path = 0x1B-Sorting_algorithms_Big_O
	url = https://github.com/martinmulwa/sorting_algorithms.git
[submodule "0x1B-sorting_algorithms_Big_O"]
	path = 0x1B-sorting_algorithms_Big_O
	url = https://github.com/martinmulwa/sorting_algorithms.git
